<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>一覧</h1>
    <a th:href="@{/}" href="/">HOMEへ戻る</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Summary</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${taskList}" th:object="${task}">
            <td ><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#'+ *{id}"></a></td>
            <td ><a th:href="@{/tasks/{id}(id=*{id})}" th:text="*{summary}"></a></td>
            <td th:text="*{status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>